const operate = {
    title: '操作',
    render: (_, record) => (
        <Space>
            {{#each operations}}
            <a onClick={()=> {{this.action}}(record)}>{{this.label}}</a>
            {{/each}}
        </Space>
    )
}